/*---------------------------*/
/*PERSONAL INFORMATION */
/*-------------------------*/

.about {
    align-items: center;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    margin-right: 20rem;
    margin-left: 20rem;
}

.name {
    font-family: Helvetica, sans-serif;
    font-size: 4.5rem;
    margin-bottom: 0rem;
}

.info {
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.blurb {
    font-family: Helvetica, sans-serif;
    margin-bottom: 0rem;
    margin-top: 0.5rem; 
    font-size: 1rem;
}

/*---------------------------*/
/*BLOG INFORMATION */
/*-------------------------*/

.blog-box {
    border: 2px solid green;
    margin-top: 2rem;
    margin-right: 15rem;
    margin-left: 15rem;
}

/*---------------------------*/
/* SIDEBAR AND SIDE BUTTONS */
/*-------------------------*/

.sidebar {
    align-items: right;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.sideButtons {
    background-color: white;
    border: none;
    color: grey;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.sideButtons:hover {
    color: rgb(86, 86, 86);
}