body {
    background-color: black;
    color: white;
    font-family: Times;
    text-align: left;
    margin: 0;
    padding: 0;
}

.about-box {
    background-color: black;
    position: absolute;
    height: 500px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.name-text {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-text {
    color: #d4d4d4;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.divider1 {
    background-color: white; 
    height: 4px; /* Height of the line */
    width: 100%; /* Adjust the width of the divider line */
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Times;
    font-size: 24px;
    position: relative;
}

.btn::after {
    background-color: white;
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left; /* Start underlining from the left */
    transition: transform 0.8s ease;
}

.resume-button:hover::after {
    transform: scaleX(1);
}


.resume-text {
    color: #d4d4d4;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Small screens (Phones) */
@media (max-width: 314px) {
    .about-box {
        width: 95%; /* Adjust width for responsiveness */
    }
    .btn {
        font-size: 18px; /* Adjust font size for phones */
    }
}

/* Medium screens (Tablets) */
@media (max-width: 1300px) {
    .about-box {
        width: 95%; /* Adjust width for responsiveness */
        
    }
    .btn {
        font-size: 20px; /* Adjust font size for tablets */
}
}